@model A4A.UM.EntityDataModel.Group

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Group</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.GroupId)

        <div class="form-group">
            @Html.LabelFor(model => model.GroupName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GroupName)
                @Html.ValidationMessageFor(model => model.GroupName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsOpenEnrollment, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsOpenEnrollment)
                @Html.ValidationMessageFor(model => model.IsOpenEnrollment)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AppliesToSiteId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AppliesToSiteId)
                @Html.ValidationMessageFor(model => model.AppliesToSiteId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LyrisListName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LyrisListName)
                @Html.ValidationMessageFor(model => model.LyrisListName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LyrisShortDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LyrisShortDescription)
                @Html.ValidationMessageFor(model => model.LyrisShortDescription)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LyrisListType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LyrisListType)
                @Html.ValidationMessageFor(model => model.LyrisListType)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GroupSiteUrl, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GroupSiteUrl)
                @Html.ValidationMessageFor(model => model.GroupSiteUrl)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsCommittee, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsCommittee)
                @Html.ValidationMessageFor(model => model.IsCommittee)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsChildGroup, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsChildGroup)
                @Html.ValidationMessageFor(model => model.IsChildGroup)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ParentGroupId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ParentGroupId)
                @Html.ValidationMessageFor(model => model.ParentGroupId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CouncilParentId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CouncilParentId)
                @Html.ValidationMessageFor(model => model.CouncilParentId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsSecurityGroup, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsSecurityGroup)
                @Html.ValidationMessageFor(model => model.IsSecurityGroup)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
