<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <title>@ViewBag.Title - A4A User Management</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <style type="text/css">
        /* prime */
        ul.primary li a {
            display: block;
            padding: 15px 0px 0px 0px;
            border-right: 1px solid #3D3D3D;
        }

        ul.primary li:last-child a {
            border-right: none;
        }

        ul.primary li a:hover {
            color: #000;
        }
        /* subs */
        ul.sub {
            position: relative;
            z-index: 200;
            box-shadow: 2px 2px 0 #BEBEBE;
            /*width: 35%;*/
            display: none;
        }

            ul.sub li {
                float: none;
                margin: 0;
            }

                ul.sub li a {
                    border-bottom: 1px dotted #ccc;
                    border-right: none;
                    color: #000;
                    padding: 15px 30px;
                }

                ul.sub li:last-child a {
                    border-bottom: none;
                }

                ul.sub li a:hover {
                    color: #000;
                    background: #eeeeee;
                }

        /* sub display*/
        ul.primary li:hover ul {
            display: block;
            background: #fff;
        }

        /* keeps the tab background white */
        ul.primary li:hover a {
            background: #666;
            color: #666;
            text-shadow: none;
        }

        ul.primary li:hover > a {
            color: #000;
        }
    </style>
</head>
<body>
    <!-- header -->
    <header class="hidden-print" style="background-color:#fff;">
        <div class="nav-container" style="position:fixed;z-index:99;background-color:#fff;border-bottom:3px solid #428bca;width:100%; ">
            <img src="~/images/A4A-new-logo.png" alt="Logo" height="60" />
            <nav>
                <ul class="primary">
                    <li><a href="/User/index/#1" target="_parent">Add Contacts</a></li>
                    <li>@Html.ActionLink("Search Contacts", "Index", "Home")</li>
                    <li><a href="/Group/index/#2" id="grpHref" onclick="javascript: window.location.reload();" target="_parent">Add Groups</a></li>
                    @*<li><a href="/Group/List"   target="_parent">Groups</a></li>*@
                    <li><a href="/Group/List" target="_parent">Search Groups</a></li>
                    <li><a href="/Group/List?type=2" target="_parent">Transactions</a></li>
                    @*<li id="reportsTab" style="visibility:hidden"><a href="/home/Reports" target="_parent">Reports</a></li>*@
                </ul>
            </nav>
        </div>
    </header>

    <div class="container body-content">
        <div class="row bot-buffer text-center">
            @*<div class="col-lg-4  col-xs-12">
                    <ol id ="breadcrumb" class="breadcrumb">
                        <li><a href="/"><i class="fa fa-dashboard"></i>&nbsp;Home</a></li>
                    </ol>
                </div>*@
            <div class="col-xs-12">
                @RenderSection("heading", required: true)
            </div>
        </div>
        @RenderBody()
        @*<hr />
            <footer>
                <p>&copy; @DateTime.Now.Year- A4A User Management</p>
            </footer>*@
    </div>
    <footer class="um-footer">
        <p>&copy; @DateTime.Now.Year - Airlines for America (A4A). All rights reserved</p>
    </footer>
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
        window.onload = function () {
            var url = "/api/GetIsCurrentUserAdmin";
            $.ajax({
                url: url,
                contentType: 'application/json',
                success: function (data) {
                    if (data) {
                        $("a#grpHref").attr('href', '/Group/index#1');
                        $("#reportsTab").show();
                    }
                    else {
                        $("#reportsTab").hide();
                    }
                },
                error: function (xhr, status, error) {
                }
            });
        };
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
